.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.row {
  align-items: center;
  justify-content: center;
  position: relative;
  display: block;
}

.cell-empty {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 4rem;
  background-color: #ffffff;
  border: 3px solid #000000;
  cursor: pointer;
}


.cell-X {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 4rem;
  background-color: crimson;
  border: 3px solid #000000;
  cursor: pointer;
}

.cell-O {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 4rem;
  background-color: turquoise;
  border: 3px solid #000000;
  cursor: pointer;
}
