.score { 
    font-size: 2em;
    text-align: center;
    }

.title {
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
    }

.first-player-score {
    color: crimson;
    }

.second-player-score {
    color: turquoise;
    }

.reset-button {
    background-color: #282c34;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 0.7em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }